

.form-control{
    border-radius: 5px;
    padding: 1rem;
    background: transparent;
    border: 1px solid  #f9bf8f;
    color : white;
    font-weight: 600;
}

.form-control::-webkit-input-placeholder {
    color: blue;
    font-weight: bold;
}
.shake-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
